layout: index
subtitle: 高機能&無料のGIFクリエイター
---
<p>
  <h2 class="lead">お気に入りの動画やGIF、画像を組み合わせ</h2>
  <div>
    Girafは複数のmp4やgif/png/jpeg画像を読み込むことができます。</br>
    ローカルから素材を読み込んだ後は、自由に組み合わせて編集できます。
  </div>
</p>
<p>
  <h2 class="lead">タイムラインベースのエディター</h2>
  <div>
    Girafの右下のパネルにはタイムラインエディターがあります。</br>
    それぞれのレイヤーは、ドラッグすることで独立して動かせます。
  </div>
</p>
<p>
  <h2 class="lead">スクリプトでGIFを編集</h2>
  <div>
    もしJavaScriptの知識があれば、</br>
    スクリプトを編集することで、GIFの見た目を調節することができます。
  </div>
</p>
