layout: index
subtitle: Powerful & Free GIF Creator
---
<p>
  <h2 class="lead">Compound Your Favorite Videos, GIFs and Images</h2>
  <div>
    Giraf can import mp4 videos and gif/png/jpeg images.</br>
    If once you import footages from local, you can compound them freely.
  </div>
</p>
<p>
  <h2 class="lead">Timeline-base Editor</h2>
  <div>
    Giraf has the timeline editor in the lower right pane.</br>
    Each layers are moved by dragging them independently.
  </div>
</p>
<p>
  <h2 class="lead">Scripting GIFs</h2>
  <div>
    If you are informed about JavaScript,</br>
    you can control appearances of GIFs by editing scrirpt.
  </div>
</p>
